
@use '../../../scss/' as * ; 
.login-form {
    z-index: 100;
    background-image: url('../../../../public/images/login-background.jpg');
    // height: 100vh;
    height: 100vh;
    background-size: cover;
    width: 100%;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    .container {
        padding-top: 100px;
        width: 100%;
    }
    h1 {
        margin: 2rem 0;
        font-size: 3rem;
    }
    .wrap-box {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        border: 1px solid rgb(234, 225, 225);
        border-radius: 5px;
        padding : 0 10px 10px 10px ; 
        .write_info {
            display: flex;
            flex-direction: column;
        }
        @include mobile {
            min-width: 330px ; 
        }
        .btn-login {
            // font-size: ;
            // width: 100%;
            // margin: 0 auto ; 
                margin: 20px 0;
                width: 100%;
                    background-color: #00a3ff;
                    color: white ; 
        
            &:hover {
                opacity: 0.8;
            }
        }
        

    }
    input {
        padding: 1rem;
        font-size: 1.6rem;
        // border  : none ;
        outline: none;
        margin: 0.5rem 0;
    }
    .btn-group-login {
        display: flex;
    }
    button {
        padding: 1rem;
        margin: 0.5rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        // color : white ;
        .icon-gg,
        .icon-fb {
            font-size: 2.5rem;
            margin-right: 1rem;
        }
    }
    
    .btn-fb {
        flex: 1;

        background-color: blue;
        color: white;
        &:hover {
            opacity: 0.8;
        }
        
    }
    .btn-gg {
        flex: 1;

        background-color: red;
        color: white;
        &:hover {
            opacity: 0.8;
        }
    }
    .forgot-pass {
        text-align: left;
        cursor: pointer;
    }
    h3 {
        margin: 1rem 0;
        font-size: 1.6rem;
    }
}
