@use '../../scss/' as *;

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
    position: fixed;
    width: 100%;
    background-color: #090b13;
    z-index: 999;
    box-shadow: -6px 24px 55px #282c3c;
    &__logo {
        cursor: pointer;
    }
    &__user {
        display: flex;
        align-items: center;
        &:hover .btn-sign-out {
            display: block;
            cursor: pointer;
        }
        .avatar {
            border-radius: 50%;
        }
        .btn-sign-out {
            position: absolute;
            top: 85%;
            font-size: 1.4rem;
            display: none;
        }
        .name-user {
            font-size: 1.7rem;
            margin-left: 1rem;
            position: relative;
        }
        button {
            // width: 9rem;
            height: 4rem;
            font-size: 1.6rem;
            background: none;
            outline: none;
            color: white;
            border: 1px solid white;
            border-radius: 0.5rem;
            margin-left: 1rem;
            padding: 0 1rem;
            &:hover {
                background: white;
                color: black;
                cursor: pointer;
            }
        }
    }
    &__login,
    &__register {
    }
    &__nav {
        margin-left: 4rem;
        display: flex;
        flex: 1;
        justify-content: start;
        align-items: center;
        @include tablet {
            display: none;
        }
        @include mobile {
            display: none;
        }

        a {
            padding-right: 2rem;
            color: white;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
        }
        .icon-nav {
            margin-right: 0.5rem;
            font-size: 2rem;
        }
    }
}
